section #hero {
  padding: 60px 0;
}

.clock {
  font-size: 1em;
  text-align: center;
  margin: 20px auto;
  color: rgba(216, 88, 24);
  font-family: arial;
}

.clock span {
  padding: 5px;
  border: solid 0.0023em #444;
}

.pokedex-logo {
  margin: 2rem;
  padding: 0.5rem;
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  border-radius: 50%;
  border: 0.5px solid black;
  background-color: whitesmoke;
}

.pokemon {
  width: 10rem;
  height: 10rem;
  object-fit: contain;
}

.pokemon-2 {
  width: 20rem;
  height: 20rem;
  object-fit: contain;
}
